* {
	margin: 0px;
}

body {
	font-family: 'Sour Gummy', sans-serif;
	font-optical-sizing: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	gap: 20vw;
	color: #432818;
	background-color: #fff8e5;
}

.storeContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 0.25rem;
	width: fit-content;
	background-color: #ffe6a7;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-radius: 0.5rem;
}

h2 {
	width: 100%;
	text-align: center;
	margin-bottom: 0.5rem;
	font-size: 2rem;
	font-weight: 600;
}

.upDetails {
	display: flex;
	flex-direction: row-reverse;
	width: fit-content;
	gap: 2rem;
}

.upNameDetails {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.upBuyBtn {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
	width: 100%;
	background-color: #bb9457;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	border-radius: 0.25rem;
}

.buyBtn {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	align-self: center;
	border-radius: 2rem;
	font-family: 'Sour Gummy', sans-serif;
}

.counterContainer {
	display: flex;
	flex-direction: column;
	width: fit-content;
	align-items: center;
	justify-content: space-around;
	gap: 4rem;
}

#counterDisplay {
	font-size: 4rem;
	font-weight: 600;
}

#cookiePerSecDisplay {
	font-size: 1.5rem;
}

.detailsCounter {
	text-align: center;
}

.clickedCookie {
	width: 180px;
	height: auto;
}

#cookieBtn {
	width: auto;
	height: 200px;
}
